{% extends "base.html" %}

{% block internal_css %}

<style>
    .heading
    {
        font-family: var(--major-font);
        color: var(--primary);
    }
    .text
    {
        font-family: var(--minor-font);
        color: var(--white);
    }
    .navbar
    {
        z-index: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 8vh;
        min-height: 50px;
        width: 100vw;
        max-width: 100vw;
        background-color: var(--primary);
    }
    .nav-item-section
    {
        z-index: 2;
        display: flex;
        flex-direction: row;
        height:5vh;
        max-height:vh;
        justify-content: center;
        align-items: center;
        min-width: 0;
        min-height: 3vh;
    }

    .nav-item
    {
        display:flex;
        cursor: pointer;
        min-width: 0;
        border-radius: 10px;
        justify-content: center;
        align-content: center;
        padding: 2vh 3vw;
        color: var(--black);
        text-align: center;
        font-family: var(--major-font);
        font-size: 90%;
        font-weight: bolder;
        text-decoration:none;
        transition: color 0.3s, background-color 0.3s;

        &.active
        {
            background-color: var(--white);
            color: var(--primary);
        }
    }

    .nav-item:hover
    {
        opacity: 50%;
    }

    .page-content
    {
        background-color: var(--white);
        width: 100vw;
        height: 92vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pane
    {
        background-color: var(--black);
        height: 100%;
        width: 99%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin:1px;
        font-family: var(--minor-font);

        &.list
        {
            width: 30%;
        }

        &.detail
        {
            width: 70%;
        }
    }

    .pane-header
    {
        /*background-color:red;*/
        color: var(--white);
        display: flex;
        width: 100%;
        height: 10%;
        justify-content: left;
        align-items: center;
        padding: 15px;
        font-family: var(--major-font);
    }

    .pane-content
    {
        height: 80%;
        width: 100%;
        color: var(--white);
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: top;
        padding: 15px;
        /* background-color: red; */
        &.center
        {
            align-items: center;
        }
    }

    .pane-footer
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--black);
        height: 10%;
        width: 100%;
        padding: 15px;
    }

    .list-card
    {
        display: flex;
        width: 95%;
        margin: 1px;
        justify-content: left;
        padding: 10px;
        border-radius: 8px;
        transition: color 0.2s, background-color 0.2s;
        text-decoration: none;
        color: var(--white);
    }

    .list-card:hover
    {
        background-color: var(--primary);
        opacity: 50%;
        color: var(--black);
        cursor: pointer;
    }

    .button
    {
        background-color: var(--primary);
        color: var(--black);
        height: 50px;
        padding: 5px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-family: var(--major-font);
        margin: 5px;
        font-weight: bolder;
        text-decoration: none;

        &.span
        {
            width: 100%;
        }
    }

    .button:hover
    {
        opacity: 50%;
        cursor: pointer;
    }

</style>

{% block subpage_scripts %}{% endblock %}

{% endblock %}

{% block navbar %}
    <div class="navbar">
        <div class = "nav-item-section">
            <a class="nav-item" href = "/api/transactions">Transactions</a>
            <a class="nav-item" href = "/api/budgets">Budgets</a>
            <a class="nav-item" href = "/api/incomes">Incomes</a>
            <a class="nav-item" href = "/api/subscriptions">Subscriptions</a>
            <a class="nav-item" href = "/api/reports/burn-rate">Burn Rate Report</a>
            <a class="nav-item" href = "/api/reports/budget-status">Budget Status</a>
            <a class="nav-item" href = "/logout">LOG OUT</a>
        </div>
    </div>
{% endblock %}

{% block content %}

{% endblock %}

