{% extends "view-page.html" %}

{% block title %}Budgets{% endblock %}

{% block list_header %}Budgets{% endblock %}

{% block list_content %}
    {% for budget in budgets %}
        <a class="list-card link {% if selected_budget %}{% if budget.id == selected_budget.id %}active{% endif %}{% endif %}" href="/api/budgets/{{budget.id}}">
            {{budget.category.value}} | <strong>{{budget.period.value}}</strong>
        </a>
    {% endfor %}
{% endblock %}

{% block list_footer %}
    <a class="button span" href="/api/budgets/create">New Budget</a>
{% endblock %}

{% block details_header %}
{% if form_action == 'create' %}
    <Strong>New Budget</Strong>
{% elif form_action == 'update' %}
    <Strong>Update Budget</Strong>
{% else %}
    <Strong>No Budget Selected</Strong>
{% endif %}
{% endblock %}

{% block details_content %}
    {% if form_action == 'create' %}
        <form id="form" name="form" class="form" method="POST" action="/api/budgets/create">
    {% else %}
        <form id="form" name="form" class="form" method="POST" action="/api/budgets/update/{{selected_budget.id}}">
    {% endif %}
        <label for="limit_field">Limit:</label>
        <input 
            name="limit_field"
            value="{% if form_action == 'update' %}{{selected_budget.limit_amount}}{% endif %}"
            type ="number"
            placeholder="0000"
        >
        <label for="category_field">Category:</label>
        <select name="category_field" required>
            <option value="" disabled selected>[Select Category]</option>
            <option value="food" class="select">Food</option>
            <option value="transport" class="select">Transport</option>
            <option value="housing" class="select">Housing</option>
            <option value="entertainment" class="select">Entertainment</option>
            <option value="health" class="select">Health</option>
            <option value="education" class="select">Education</option>
            <option value="clothing" class="select">Clothing</option>
            <option value="utilities" class="select">Utilities</option>
            <option value="other" class="select">Other</option>
        </select>
        <label for="period_field">Period:</label>
        <select name="period_field" required>
            <option value="" disabled selected class="select">[Select Period]</option>
            <option value="weekly" class="select">Weekly</option>
            <option value="monthly" class="select">Monthly</option>
            <option value="yearly" class="select">Yearly</option>
        </select>
    </form>
{% endblock %}

{% block details_footer %}
    {% if form_action == 'create' %}
        <button class="button" type="submit" form="form">Create</button>
    {% else %}
        <button class="button" type="submit" form="form">Save</button>
    {% endif %}
{% endblock %}