{% extends "report.html" %}

{% block title %}Budget Status{% endblock %}


{% block subpage_scripts %}

{% endblock %}

{% block report_header %}Budget Status Report{% endblock %}

{% block report_content %}
      <div class="budget-container">
        {% for status in report %}
            <div class="budget-card {% if status.over_budget %}over-budget{% endif %}">
                
                <div class="budget-title">
                    {{status.category.value}}
                </div>

                <div>Limit: ${{status.limit_amount}}</div>
                <div>Spent: ${{status.spent}}</div>
                <div>Remaining: ${{status.remaining}}</div>

                <div>
                    Over Budget: 
                    {% if status.over_budget %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}

     

{% block report_footer %}

{% endblock %}