{% extends "report.html" %}

{% block title %}Burn Rate Report{% endblock %}

{% block report_header %}Burn Rate Report{% endblock %}

{% block report_content %}
    <div>Total Income: ${{report.total_income}}</div>
    <div>Total Expenses: ${{report.total_expenses}}</div>
    <div>Total Subscriptions: {{report.total_subscriptions}}</div>
    <div>Net: ${{report.net}}</div>
    <div>Burn Rate Percentage: {{report.burn_rate_percentage}}%</div>
    <br>
    <div>Category Breakdown:</div>
    <br>
    <div>
        {% for category in report.category_breakdown %}
            <div>
                Category: {{category.category.value}} |
                Total: ${{category.total}} |
                Percentage: {{category.percentage}}%
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block report_footer %}

{% endblock %}