{% extends "view-page.html" %}

{% block title %}Home{% endblock %}

{% block list_header %}Your recent transactions:{% endblock %}

{% block list_content %}
    {% for transaction in transactions %}
        <a class="list-card link {% if selected_transaction %}{% if transaction.id == selected_transaction.id %}active{% endif %}{% endif %}" href="/api/transactions/{{transaction.id}}">
            {{transaction.transaction_date}} | <strong>${{transaction.amount}}</strong>
        </a>
    {% endfor %}
{% endblock %}

{% block list_footer %}
    <a class="button span" href="/api/transactions">View All</a>
{% endblock %}

{% block details_header %}
    <div>Welcome to Flowlytics, {{user.username}}!</div>
{% endblock %}

