{% extends "view-page.html" %}

{% block title %}Subscriptions{% endblock %}

{% block subpage_scripts %}

{% endblock %}

{% block list_header %}Subscriptions{% endblock %}

{% block list_content %}
    {% for subscription in subscriptions %}
        <a class="list-card link {% if selected_subscription %}{% if subscription.id == selected_subscription.id %}active{% endif %}{% endif %}" href="/api/subscriptions/{{subscription.id}}">
            {{subscription.name}} | 
            <strong>
                {% if subscription.active == true %}
                    Active
                {% else %}
                    Inactive
                {% endif %}
            </strong>
        </a>
    {% endfor %}
{% endblock %}

{% block list_footer %}
    <a class="button span" href="/api/subscriptions/create">New Subscription</a>
{% endblock %}

{% block details_header %}Subscription Details{% endblock %}

{% block details_content %}
    {% if selected_subscription is not none %}
        <div class="details-card">

            <div class="details-title">
                {{selected_subscription.name}}
            </div>

            <div>
                <strong>Status:</strong>
                {% if selected_subscription.active %}
                    <span class="status-active">Active</span>
                {% else %}
                    <span class="status-inactive">Inactive</span>
                {% endif %}
            </div>

            <div><strong>Amount:</strong> ${{selected_subscription.amount}}</div>

            <div><strong>Billing Cycle:</strong> {{selected_subscription.billing_cycle.value}}</div>

            <div><strong>Next Due:</strong> {{selected_subscription.next_due}}</div>

        </div>
    {% else %}
        <div class="no-selection">No subscription selected.</div>
    {% endif %}
{% endblock %}

{% block details_footer %}
    {% if selected_transaction is not none %}
        <a class="button" href="/api/subscriptions/update/{{selected_subscription.id}}">Update Subscription</a>
        <a class="button" href="/api/subscriptions/delete/{{selected_subscription.id}}">Delete Subscription</a>
    {% endif %}
{% endblock %}