{% extends "view-page.html" %}

{% block title %}Transactions{% endblock %}

{% block subpage_scripts %}

{% endblock %}

{% block list_header %}Transactions{% endblock %}

{% block list_content %}
    {% for transaction in transactions %}
        <a class="list-card link {% if selected_transaction %}{% if transaction.id == selected_transaction.id %}active{% endif %}{% endif %}" href="/api/transactions/{{transaction.id}}">
            {{transaction.transaction_date}} | <strong>${{transaction.amount}}</strong>
        </a>
    {% endfor %}
{% endblock %}

{% block list_footer %}
    <a class="button span" href="/api/transactions/create">New Transaction</a>
{% endblock %}

{% block details_header %}Transaction Details{% endblock %}

{% block details_content %}
    {% if selected_transaction is not none %}
    <div class="details-card">

        <div class="details-title">
            Transaction
        </div>

        <div><strong>Amount:</strong> ${{selected_transaction.amount}}</div>

        <div><strong>Date:</strong> {{selected_transaction.transaction_date}}</div>

        <div><strong>Category:</strong> {{selected_transaction.category.value}}</div>

        <div><strong>Description:</strong> {{selected_transaction.description}}</div>

    </div>
{% else %}
    <div class="no-selection">No transaction selected.</div>
{% endif %}
{% endblock %}

{% block details_footer %}
    {% if selected_transaction is not none %}
        <a class="button" href="/api/transactions/update/{{selected_transaction.id}}">Update Transaction</a>
        <a class="button" href="/api/transactions/delete/{{selected_transaction.id}}">Delete Transaction</a>
    {% endif %}
{% endblock %}