{% extends "authenticated-base.html" %}

{% block external_js %}
<script src="{{ url_for('static', path='js/app.js')}}"></script>
{% endblock %}

{% block content %}

<div class="page-content">

    <div class="pane list">
        <div class="pane-header">{% block list_header %}{% endblock %}</div>
        <div class="pane-content center">{% block list_content %}{% endblock %}</div>
        <div class="pane-footer">{% block list_footer %}{% endblock %}</div>
    </div>

    <div class="pane detail">
        <div class="pane-header">{% block details_header %}{% endblock %}</div>
        <div class="pane-content">{% block details_content %}{% endblock %}</div>
        <div class="pane-footer">{% block details_footer %}{% endblock %}</div>
    </div>

</div>

{% endblock %}

{% block footer %} 

<footer class="app-footer">
    <span class="brand">Flowlytics</span>
    <nav>
        <a href="/app">Home</a>
        <a href="/api/transactions">Transactions</a>
        <a href="/logout">Log Out</a>
    </nav>
    <span class="copy">&copy; 2026 Flowlytics. All rights reserved.</span>
</footer>

{% endblock %}